*
!.gitignore
!game_dir/
!game_dir/bink2w64.dll
!game_dir/Debug.log
!game_dir/High.ini
!game_dir/installscript.vdf
!game_dir/Low.ini
!game_dir/Medium.ini
!game_dir/Skyrim.ccc
!game_dir/Skyrim_Default.ini
!game_dir/SkyrimSE.exe
!game_dir/SkyrimSELauncher.exe
!game_dir/steam_api64.dll
!game_dir/Ultra.ini
!Skyrim.ini
!Plugins.txt
